.option{
    border-bottom: 1px solid lighten($light-blue, $amount: 10%);
    display: flex;
    justify-content: space-between;
    padding: $l-size $m-size;
}

.option__text{
    margin: 0;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    word-break: break-all;
}